.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover; /* A imagem cobre toda a tela */
  background-position: center; /* A imagem fica centralizada */
  color: white; /* Cor do texto */
  text-align: center; /* Alinha o texto no centro */
}

/* Estilos para o título */
.start-screen h1 {
  font-size: 3rem;
  margin-bottom: 20px; /* Espaçamento entre o título e o botão */
}

/* Estilos para o botão */
.start-screen button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #007BFF; /* Cor de fundo do botão */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-screen button:hover {
  background-color: #0056b3; /* Cor do botão ao passar o mouse */
}
